/* Colours */

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

.white {
    color:white;
}

/* Spacing */

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom:5rem;
}
.pa-1 {
    padding: 1rem
}

.pa-05 {
    padding: 0.5rem;
}

.pa-2 {
    padding: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

/* Positioning */

.centre-text {
    text-align: center;
}

/* Flex */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Font */

.bold {
    font-weight: bold;
}
