/* Colours */

.primary {
    color: var(--color-primary);
}

.secondary {
    color: var(--color-secondary);
}

/* Spacing */

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pa-1 {
    padding: 1rem
}

.pa-2 {
    padding: 2rem;
}

/* Positioning */

.centre-text {
    text-align: center;
}

